@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
}

body {
    background-image: linear-gradient(0deg, #ffffffc4, #ffffff81), url(https://miro.medium.com/max/1400/1*ItGd7Itb99Cr6rE4qVD8wg.png);
    background-size: 30em;
    font-family: 'open sans';
}

nav {
    display: flex;
    flex-flow: wrap row;
    background-color: #2B2D42;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    margin: 2%;
    width: 100%;
}

nav ul li {
    list-style: none;
    padding: 5px 10px;
    margin: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #EDF2F4;
}

section {
    margin: 2em auto;
    width: 60%;
    background-color: #ffffff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 4px 20px #8D99AE;
    font-size: 1.15em;
}

img {
    filter: opacity(0.5);
    width: 100%;
    height: 25em; 
    object-fit: cover;
}

section h1 {
    text-align: center;
}

h1, section h2 {
    color: #EF233C;
    text-shadow: 0 4px 4px #58585846;
    line-height: 1.5em;
    font-size: 1.75em;

}

section p {
    line-height: 1.7em;
    text-indent: 1em;
    text-align: justify;
}

section div {
    margin: 2em 0;
}



li {
    padding: 5px 10px;
    margin: 5px;
}


span {
    font-family: consolas;
    background-color: #2b2b2b;
    color: #EDF2F4;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.9em;
    margin: 0 10px;
}