
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #4bb3f0;
    margin: 0;
    height: 100%;
}

nav {
    background-color: rgb(45, 133, 168);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border-radius: 0 0 10px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    margin: 30px;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    transition: all 0.2s ease-in;
    text-shadow: 0 0 25px rgb(105, 104, 104);
}

nav ul li a:hover {
    color: #f0f8ff;
    background-color: rgb(5, 32, 88);
    box-shadow: 0 0 10px rgb(54, 54, 54);
}

section {
    align-items: center;
    justify-content: center;
    width: 100%;
}

section h1 {
    text-align: center;
    font-size: 3rem;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

section div {
    position: relative;
    background-color: #e6f3ff;
    width: 100%;
    margin: auto;
    padding: 20px 0;
}

section div p {
    width: 60%;
    margin: 20px auto;
    font-size: 1.3rem;
    text-indent: 1.5em;
}

footer {
    background-color: rgb(2, 59, 82);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;

    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.788);
    font-size: 1.2rem;
}




.formulario form {
    position: relative;
    background-color: #9bf0ff;
    box-shadow: 0 5px 25px rgb(0, 0, 0);
    border-radius: 5px;
    margin: auto;
    max-width: 75%;
    padding: 3px;
    text-align: center;
}

.formulario form div {
    background-color: #9bf0ff;
    padding: 0;
    margin: 30px auto;

}


.formulario form div label {
    padding: 10px;
    text-align: center;
    align-items: center;
}

.formulario form input {
    height: 40px;
    width: 450px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    text-align: center;
    font-family: poppins;
    font-size: 1.1rem;
    box-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.formulario form textarea {
    height: 120px;
    width: 550px;
    border-radius: 3px;
    border: none;
    padding: 15px;
    text-align: center;
    font-family: poppins;
    font-size: 1.1rem;
    box-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.formulario form input:focus, .formulario form textarea:focus {
    outline: none;
}


.formulario form input[type="submit"] {
    max-width: 35% !important;
    height: 50px;
    border-radius: 5px;
    color: rgb(240, 248, 255);
    background-color: #15b3a0;
    box-shadow: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.formulario form input[type="submit"]:hover {
    background-color: #067265;
}