
body {
    background-color: #0f172a;
}

.blob-maker {
    z-index: -15;
    flex-direction: row-reverse;
}

.section-one {
    padding: 8% 10%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.section-one .main-top div:nth-child(2) img {
    width: clamp(15em, 100%, 37em);
}

.section-one .main-top div:first-child {
    max-width: 40%;
    padding-bottom: 2em;
    text-align: left;
    font-size: 1.3em;
    line-height: 1.5em;
}

.cards {
    max-width: 80%;
}

.cards .card {
    height: 100%;
}

