@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


body {
    margin: 0;
    background-color: #89D99D;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
}